<div class="container mt-2">
    <ng-container>
        <div class="container">
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="border-0 bg-light" crope="col">
                                    <div class="p6-2 px-3 text-uppercase">ID</div>
                                </th>
                                <th class="border-0 bg-light" crope="col">
                                    <div class="p6-2 px-3 text-uppercase">User</div>
                                </th>
                                <th class="border-0 bg-light" crope="col">
                                    <div class="p6-2 px-3 text-uppercase">Total</div>
                                </th>      
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="p-2">
                                        <img src="" alt="" class="img-fluid" style="max-height: 50px;">
                                        <div class="ml-3 d-inline-block align-middle">
                                            <h5 class="mb-0">
                                                <a>Produits</a>
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
</div>